$utilities: map-merge(
                $utilities,
                (
                        "max-width": (
                                property: max-width,
                                class: "mw",
                                responsive: true,
                                values: (
                                        30: 30%,
                                        40: 40%,
                                        50: 50%,
                                        60: 60%,
                                )
                        )
                )
);

