//logo and branding
.navbar.main-navbar {
  .site-logo {
    img {
      width: $logo-width;
    }

    @include media-breakpoint-up(xl) {
      img {
        width: $logo-width-desktop;
      }
    }
  }
}