.vctabs-wrapper {
  box-shadow: 0px 3px 6px #0000002B;
  background: #FEFAFB 0% 0% no-repeat padding-box;
  justify-content: center;
  border-radius: 24px;
}

.vctab {
  flex: 0 0 20%;
  padding: 2rem 0;
  border-radius: 24px;

  img {
    height: 150px;
    width: auto;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.vctab.active {
  background-color: $primary;
  color: #fff;

  p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  .wp-block-image img {
    filter: brightness(0) invert(1);

  }
}

@include media-breakpoint-down(lg) {
  .vctabs-wrapper {

    .wp-block-image {
      display: none;
    }
  }
}